HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
deploy/
.mvn/
.cursor/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.vs/

# 环境配置
.env
.env.local
application-prod.yaml

# 自定义
/JL.md
/REST_Client.HTTP
/BatchImportUsers.json
/BatchImportGames.json
src/main/resources/sql/xmgame.sql
