<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.game9.mapper.GameReviewMapper">

    <resultMap id="BaseResultMap" type="com.xm.game9.model.domain.GameReview">
        <id property="reviewId" column="reviewId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="gameId" column="gameId" jdbcType="BIGINT"/>
        <result property="rating" column="rating" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        reviewId
        ,userId,gameId,
        rating,content,createTime,
        updateTime,isDeleted
    </sql>

</mapper> 